*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}
/*bootstrap*/
.navbar-dark{
    background: #800000;
  }

  /*main text*/

.main_text{
    text-align: center;
    background-color: white;
}
.main_text > h1{
    margin-top: 100px;
    text-align: center;
    background: none;
}
.main_text > div{
    font-size:  20px;
    text-align: center;
    color: black;
}
.icon{
    display: flex;
    margin: auto;
    width:1280px;
    height:302px;
    background: white;
}
.icon>li{
    flex: 1;
    margin-top: 49px;
    background: whitesmoke;
    height: 302px;
    text-align: center;
}
.icon > li:not(:last-child){
    margin-right: 20px;
}
.icon >li > .icon_img{
    margin-top: 36px;
}
.contents_bold{
    font-size: 18px;
    font-weight: bold;
}
.icon > li > .contents_bold >h6{
    font-weight: bold;
}
.more{
    width:150px;
    height:40px;
    background: gray;
    color: white;
    margin: auto;
    line-height: 30px;
    margin: 25px auto;
    text-decoration: none;
    text-align: center;
}


@media screen and (max-width: 758px){
    #three_menu .icon{
        flex-direction: column;
    }

    .three{
        width:30%;  
    }
    .invisible1 {
        visibility: hidden !important;
      }

}

@media screen and (max-width: 480px){
    #three_menu .icon{
        flex-direction: column;
    }

    .three{
        width:30%;
    }
    .footer{
        flex-direction: column;
    }
    .invisible1 {
        visibility: hidden !important;
      }

}
.footer > p {
    text-align: center;
}
.invisible2 {
    visibility: hidden !important;
  }
  
 